/* index.css */
@import "tailwindcss";

/* make `dark:` respond to .dark on <html> */
@custom-variant dark (&:where(.dark, .dark *));  /* <-- add this line */

html, body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
